.page-header{
  text-align: center;
  margin-bottom: 1px;
}

.page-header>h1{
  margin-bottom: 10px;
}
.nav-bar{
  text-align: center;
}

.nav-bar>h4{
  display:inline;
  margin: 20px;
}

nav{
  display:inline;
}

nav>span:not(:last-child):after{
  content:" | ";
}

.active{
  text-decoration: none;
  font-weight: bold;
}